body {
    padding: 75px 0 0 0;
}
 
.flash-message {
    margin-top: 20px;
}

.arrow-down:after,.arrow-up:after,.arrow-dormant:after{
 content: ' ';
 position: relative;
 left: 2px;
 border: 8px solid transparent;
}

.arrow-down:after{
 top: 10px;
 border-top-color: black;
}

.arrow-up:after{
 bottom: 15px;
 border-bottom-color: black;
}

.arrow-dormant:after{
 bottom: 15px;
 border-bottom-color: gray;
}

.arrow-down,.arrow-up,.arrow-dormant{
 padding-right: 10px;
}

.cutOverflow{
    word-break: break-all;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.avatar-circle {
	width: 30px;
	height: 30px;
    text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.initials {
	position: relative;
	top: 5px; /* 25% of parent */
	font-size: 15px; /* 50% of parent */
	line-height: 15px; /* 50% of parent */
	color: #fff;
	font-family: "Trebuchet MS", monospace;
	font-weight: bold;
}

.avatar-circle-big {
	width: 280px;
	height: 280px;
    text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.initials-big {
	position: relative;
	top: 45px; /* 25% of parent */
	font-size: 105px; /* 50% of parent */
	line-height: 105px; /* 50% of parent */
	color: #fff;
	font-family: "Trebuchet MS", monospace;
	font-weight: bold;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

.a50px {
	height: 50px;
}